@import "../node_modules/bootstrap/scss/bootstrap.scss";


body{
    background-color: white;
    margin: 0;
    padding: 0;
}
footer{
    width: 100%;
    margin-right: 0;
    
    
        .footer-text{
            text-align: center;
            padding: 3rem;
        }
}

a{
    text-decoration: none;
    color: inherit;
    &:hover{
        color: inherit;
    }
}



.navbar{
    &_logo{
        width: 220px;
        height: 80px;
        
    }
}


.navbar_flex{
    display: flex;
    align-items: center;
    justify-content:space-between;
}


.product{
    margin: 3rem 0;
    text-align: center;

    &_card{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &_selected{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

.card{
    margin: 1rem;
    max-width: 14.2rem;
    &_img{
        width: 100%;
        height: 155px;
    }
}
.btn-send{
    margin: 1.53rem 0;
}

.order_title{
    margin: 1rem 0;
}

.panier_vide{
    text-align: center;
    width: 100%;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    
    margin-bottom: 23.5rem;
}

.recapCommande{
    width: 50%;
    border: 1px solid black;
    margin: 7.9rem auto;
    text-align: center;
    
}

.messageCommande{
    text-align: center;
    p:nth-child(1){
        font-size: 1.5rem;
        font-weight: 500;
        color: rgb(26, 207, 26);
    }
}
.gras{
    font-weight: 900;
}

.infosManquante{
    font-style: italic;
    color: red;
    font-size: 0.6rem;
}